/.idea
/.vs
/.vscode/*
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/settings (Linux).json
/bin/*
!/bin/addon.js
/build
/out
/test/assets
/test/bin
/test/*.ini
/winrt-theming/.vs
/winrt-theming/packages
/winrt-theming/x64
/winrt-theming/x86
/winrt-theming/*.user
node_modules
